<h1>Web Developer Blog</h1>
<img src="https://images.unsplash.com/photo-1704382286291-2f322d42ebb5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMjR8fHxlbnwwfHx8fHw%3D" alt="Beach with a sunset"/>
<ul>
  <% @blog_posts.each do |blog_post| %>
  <h2><%= link_to blog_post.title, blog_post_path(blog_post) %></h2>
  <p><%= blog_post.content %><p/>
  <% end %>
</ul>
<p><%= link_to 'New Blog Post', new_blog_post_path %></p>


